<h1 mat-dialog-title>Comic settings</h1>

<div mat-dialog-content fxLayout="row wrap" fxLayoutGap="1rem">
  <mat-tab-group>
    <mat-tab label="Grid">
      <mat-form-field fxFlex="calc(50% - 1rem)">
        <input matInput type="number" placeholder="Big unit size (px)"
                [(ngModel)]="comicSettings.grid.bigUnitSize">
      </mat-form-field>

      <mat-form-field fxFlex="calc(50% - 1rem)">
        <input matInput type="number" placeholder="Small unit size (px)"
                [(ngModel)]="comicSettings.grid.smallUnitSize">
      </mat-form-field>

      <mat-form-field fxFlex="calc(50% - 1rem)">
        <input matInput type="number" placeholder="Big unit line width (px)"
                [(ngModel)]="comicSettings.grid.bigUnitLineWidth">
      </mat-form-field>

      <mat-form-field fxFlex="calc(50% - 1rem)">
        <input matInput type="number" placeholder="Small unit line width (px)"
                [(ngModel)]="comicSettings.grid.smallUnitLineWidth">
      </mat-form-field>

      <mat-form-field fxFlex="calc(50% - 1rem)">
        <input matInput type="color" placeholder="Big unit line color"
                [(ngModel)]="comicSettings.grid.bigUnitLineColor">
      </mat-form-field>

      <mat-form-field fxFlex="calc(50% - 1rem)">
        <input matInput type="color" placeholder="Small unit line color"
                [(ngModel)]="comicSettings.grid.smallUnitLineColor">
      </mat-form-field>
    </mat-tab>

    <mat-tab label="Ruler">
      <mat-form-field fxFlex="calc(50% - 1rem)">
        <input matInput type="number" placeholder="Big unit line width (px)"
                [(ngModel)]="comicSettings.ruler.bigUnitLineWidth">
      </mat-form-field>

      <mat-form-field fxFlex="calc(50% - 1rem)">
        <input matInput type="number" placeholder="Small unit line width (px)"
                [(ngModel)]="comicSettings.ruler.smallUnitLineWidth">
      </mat-form-field>

      <mat-form-field fxFlex="calc(50% - 1rem)">
        <input matInput type="color" placeholder="Big unit line color"
                [(ngModel)]="comicSettings.ruler.bigUnitLineColor">
      </mat-form-field>

      <mat-form-field fxFlex="calc(50% - 1rem)">
        <input matInput type="color" placeholder="Small unit line color"
                [(ngModel)]="comicSettings.ruler.smallUnitLineColor">
      </mat-form-field>
    </mat-tab>
  </mat-tab-group>
</div>

<div mat-dialog-actions>
  <button mat-button cdkFocusInitial (click)="onOkClicked()">Ok</button>
  <button mat-button (click)="onCancelClicked()">Cancel</button>
</div>
