<div fxLayout="column" fxFill>
  <mat-toolbar color="primary">
    <button mat-icon-button (click)="onToggleLeftSideNavClicked()" *ngIf="!!currentComic">
      <mat-icon>menu</mat-icon>
    </button>

    <span>
      Vecomic
      {{currentComic ? '- ' + currentComic.title + ' ' : ''}}
      {{currentPath ? '- ' + currentPath + ' ' : ''}}
      {{currentPage ? '[' + currentPage.title + ']' : ''}}
      {{currentComic && currentComic.dirty ? ' *' : ''}}
    </span>

    <span fxFlex="1 1 auto"></span>

    <button mat-icon-button (click)="onNewFolderClicked()">
      <mat-icon>create_new_folder</mat-icon>
    </button>
    <button mat-icon-button (click)="onOpenFolderClicked()">
      <mat-icon>folder_open</mat-icon>
    </button>
    <button mat-icon-button (click)="onSaveClicked()" *ngIf="!!currentComic"
            [disabled]="!currentComic.dirty">
      <mat-icon>save</mat-icon>
    </button>
    <button mat-icon-button (click)="onCloseFolderClicked()" *ngIf="!!currentComic">
      <mat-icon>close</mat-icon>
    </button>
  </mat-toolbar>

  <mat-drawer-container fxFlex>
    <mat-drawer mode="over" [(opened)]="leftSideNavOpened">
      <mat-action-list class="left-side-nav" cdkDropList (cdkDropListDropped)="onPageListReordered($event)"
                *ngIf="!!currentComic">
        <h3 mat-subheader fxLayout="row">
          Pages
          <span fxFlex="1 1 auto"></span>
          <button mat-icon-button (click)="onAddPageClicked()">
            <mat-icon>add</mat-icon>
          </button>
        </h3>

        <mat-list-item *ngFor="let page of currentComic.pages" cdkDrag fxLayout="row"
                       (click)="switchToPage(page.id)" [ngClass]="{'current-page': page.id === currentPageId}">
          <h4 class="page-title" mat-line>{{page.title}}</h4>

          <span fxFlex="1 1 auto"></span>

          <button mat-icon-button (click)="onChangePageTitleClicked(page.id, $event)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button (click)="onRemovePageClicked(page, $event)" *ngIf="currentComic.pages.length > 1">
            <mat-icon>delete</mat-icon>
          </button>
          <button mat-icon-button cdkDragHandle (click)="$event.stopPropagation()"
                  *ngIf="currentComic.pages.length > 1">
            <mat-icon>drag_handle</mat-icon>
          </button>
        </mat-list-item>
      </mat-action-list>
    </mat-drawer>
    <mat-drawer-content>
      <as-split direction="horizontal" fxLayout="row" *ngIf="!!currentComic">
        <as-split-area size="50" fxLayout="column">
          <div #canvasContainer class="canvas-container" fxFlex="1 1 auto">
            <vc-canvas-grid class="canvas-overlay" [show]="showGrid" [settings]="comicSettings.grid"
                            [width]="currentComicWidth" [height]="currentComicHeight"
                            [ngStyle]="{'transform': 'scale(' + sessionSettings.zoomPercentage / 100 + ')'}">
            </vc-canvas-grid>

            <vc-canvas-rulers class="canvas-overlay" [show]="showRuler"
                              [ngStyle]="{'transform': 'scale(' + sessionSettings.zoomPercentage / 100 + ')'}"
                              [height]="currentComicHeight" [width]="currentComicWidth"
                              [gridSettings]="comicSettings.grid" [rulerSettings]="comicSettings.ruler">
            </vc-canvas-rulers>

            <vc-mouse-crosshair class="canvas-overlay canvas-overlay-most-front" [show]="showRuler"
                                [height]="currentComicHeight" [width]="currentComicWidth">
            </vc-mouse-crosshair>

            <!--<div #mouseCrosshairArea class="canvas-overlay canvas-mouse-crosshair" (mouseenter)="onMouseCrosshairEnter()"
                 (mousemove)="onMouseCrosshairMove($event)"
                 (mouseleave)="onMouseCrosshairLeave()" [hidden]="!showRuler">
              <div #verticalMouseCrosshair class="crosshair-vertical" [hidden]="!showMouseCrosshair"></div>
              <div #horizontalMouseCrosshair class="crosshair-horizontal" [hidden]="!showMouseCrosshair"></div>
            </div>-->

            <div #canvas class="canvas"
                 [ngStyle]="{'transform': 'scale(' + sessionSettings.zoomPercentage / 100 + ')'}"></div>
          </div>

          <mat-toolbar fxFlex="0 0 auto" fxLayout="row">
            <button mat-icon-button *ngIf="showGrid" (click)="toggleGrid(false)">
              <mat-icon>grid_off</mat-icon>
            </button>
            <button mat-icon-button *ngIf="!showGrid" (click)="toggleGrid(true)">
              <mat-icon>grid_on</mat-icon>
            </button>

            <button mat-icon-button (click)="toggleRuler(!showRuler)">
              <mat-icon>straighten</mat-icon>
            </button>

            <div class="zoom-control" fxFlex="1 1 auto">
              <button mat-icon-button (click)="onSvgContentZoomInClicked()">
                <mat-icon>zoom_in</mat-icon>
              </button>

              <input type="number" class="zoom-value-input"
                      [(ngModel)]="sessionSettings.zoomPercentage">
              <span class="zoom-value-input-suffix">%</span>

              <button mat-icon-button (click)="onSvgContentZoomOutClicked()">
                <mat-icon>zoom_out</mat-icon>
              </button>
            </div>

            <button mat-icon-button [matMenuTriggerFor]="svgContentLayerMenu">
              <mat-icon>layers</mat-icon>
            </button>

            <button mat-icon-button (click)="onSvgContentSettingsClicked()">
              <mat-icon>tune</mat-icon>
            </button>
          </mat-toolbar>
        </as-split-area>

        <as-split-area #codeEditor size="50" class="code-editor"></as-split-area>
      </as-split>

      <div class="empty-content" *ngIf="!currentComic">
        No comic opened
      </div>
    </mat-drawer-content>
  </mat-drawer-container>
</div>

<mat-menu #svgContentLayerMenu="matMenu" yPosition="above">
  <mat-checkbox *ngFor="let l of pageDetails?.layers || []"
                class="layer-menu-item"
                [checked]="!(sessionPageSettings?.hiddenLayers || [])[l]"
                (change)="onSvgContentLayerVisibilityChanged(l, $event)"
                (click)="$event.stopPropagation()">
    {{l}}
  </mat-checkbox>

  <span class="layer-menu-no-layers"
        *ngIf="(pageDetails?.layers?.length || 0) === 0">(No layers)</span>
</mat-menu>
